body {
    margin: 50px;
}

#button {
    width: 340px;
    padding: 50px;
    
    background-color: #06D;
    color: #EEE;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

#welcomeMessage {
    position: relative;
    top: -40px;
    width: 300px;
    padding: 50px;
    margin-left: 20px;

    background-color: #EEE;
    text-align: center;
    border-radius: 15px;
    opacity: 0.0;
}

#place {
    font-style: italic;
}

