body {
    margin: 50px;
}

#welcomeMessage {
    position: relative;
    top: -20px;
    width: 100px;
    padding: 50px;

    background-color: #06D;
    border-radius: 15px;
}

#button {
    width: 100px;
    padding: 50px;
    
    text-align: center;
    background-color: #EEE;
    border-radius: 15px;
    cursor: pointer;
}


