body {
    margin: 50px;
}

#button {
    width: 300px;
    padding: 50px;
    
    text-align: center;
    background-color: #EEE;
    border-radius: 15px;
    cursor: pointer;
}

#welcomeMessage {
    position: relative;
    top: -20px;
    width: 300px;
    padding: 50px;

    text-align: center;
    background-color: #06D;
    border-radius: 15px;
    color: #EEE;
}

#place {
    font-style: italic;
}

